// Athena base colors
$color-primary:#1ea7fd !default;
$color-secondary: #41464b !default;
$color-success: #0f5132 !default;
$color-danger: #842029 !default;
$color-warning: #664d03 !default;
$color-info: #055160 !default;
$color-light: #636464 !default;
$color-dark: #141619 !default;

// Color variables
$color-white: #fff;
$color-light-grey: #e7e7e7;
$color-black: #000;