$color-primary:#084298 !default;
$color-secondary: #41464b !default;
$color-success: #0f5132 !default;
$color-danger: #842029 !default;
$color-warning: #664d03 !default;
$color-info: #055160 !default;
$color-light: #636464 !default;
$color-dark: #141619 !default;
