// small	320px - 479px
$break-sm: 320px;

// medium	480px - 639px
$break-md: 480px;

// large	640px - 1023px
$break-lg: 640px;

// extra large	1024px - 1365px
$break-xl: 1024px;

// extra extra large	1366px - 1919px
$break-xxl: 1366px;

// extra extra extra large	1920px and up
$break-xxxl: 1920px;
