.avatar {
}

.avatar-tiny {
    height: 32px;
}

.avatar-small {
    height: 64px;
}

.avatar-medium {
    height: 128px;
}

.avatar-large {
    height: 256px;
}

.avatar-round {
    border-radius: 50%;
}

.avatar-round-corner {
    border-radius: 8px;
}

.avatar-sqaure {
    border-radius: 0;
}
