.accordion {
    border-radius: 0.25rem;

    .title {
        color: blue;
        padding: 16px;
        border: 1px solid black;
        
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
        cursor: pointer;

        user-select: none;
    }

    .collapsed {
        border-radius: 0.25em;
    }

    .content {
        border: 1px solid black;
        border-top: 0;
        color: green;

        display: flex;
        justify-items: center;
        
        
        padding: 16px;
        border-bottom-left-radius: 0.25em;
        border-bottom-right-radius: 0.25em;
    }
}